
<app-card-container>
  
   <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
          <tr>
              <th>Código</th>
              <th>Nombre</th>
              <th>Precio</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
          <tr>
              <td>{{ product.codeProduct }}</td>
              <td>{{ product.nameProduct }}</td>
              <td>{{ product.price | currency }}</td>
          </tr>
      </ng-template>
  </p-table>

</app-card-container>
